.Grey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

@media screen and (max-width: 480px) {
    body
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
    body
}

@media screen and (min-width: 1201px) {
    body
}

body {
    width: auto;
    box-shadow: grey 2px 2px 2px;
    margin top: 100px;
}

.head {
    border: 1px solid black;
    height: 100px;
    width: auto;
    background-color: brown;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo {
    height: auto;
    border-style: solid 3px;
}

.Banner1 {
    height: auto;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.Date {
    text-align: end;
    color: grey;
}

.Grey {
    background-color: rgb(167, 150, 150);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
}

.Pt {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 4fw 4fw 4fw;
}

.one {
    width: 50%;
    text-align: center;
}

.Bthr {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.Ptt {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 4fw 4fw;
}

.linkstwo {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #333;
}

.Name {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #333;
}